# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Test results
[Tt]est[Rr]esult*/
*.trx
coverage*/
*.coverage
*.coveragexml

# Build
*.msi
*.msix
*.msm
*.msp
publish/

# User files
*.rsuser
*.DotSettings.user

# OS
.DS_Store
Thumbs.db

# Secrets
*.pfx
*.publishsettings
appsettings.*.json
!appsettings.Development.json
